auton_survival==0.1.0
Bio==1.7.1
biopython==1.81
lassonet==0.0.14
lifelines==0.26.4
matplotlib==3.5.3
numpy==2.2.4
optuna==3.1.1
pandas==1.5.3
prox==0.0.17
PuLP==2.7.0
rpy2==3.5.11
scikit_learn==1.2.2
scikit_optimize==0.9.0
scikit_survival==0.21.0
scipy==1.15.2
seaborn==0.13.2
skorch==0.15.0
torch==1.13.1
tqdm==4.67.1
